*.diff
*.patch
*.orig
*.rej

*~
*.a
*.lo
*.o
*.dylib

*.gcda
*.gcno
*.gcov

*.bak

/example
/example64
/examplesh
/libz.so*
/minigzip
/minigzip64
/minigzipsh
/zlib.pc

.DS_Store

/contrib/vstudio/vc9
/contrib/vstudio/vc10
/contrib/vstudio/vc11
/contrib/vstudio/vc12/x86